configure
depcomp
config.guess
config.sub
ltmain.sh
libtool
py-compile
Makefile.in
config.log
config.h
intltool-merge
intltool-extract
Makefile
intltool-extract.in
svn-prop.tmp
intltool-update
config.status
intltool-update.in
stamp-h1
config.h.in
autom4te.cache
intltool-merge.in
missing
aclocal.m4
install-sh
.deps
Constants.py
_blueman.c
po/Makefile.in.in
po/.intltool-merge-cache
po/POTFILES
po/stamp-it
data/configs/blueman-applet.service
data/configs/org.blueman.Mechanism.service
data/configs/org.blueman.policy
*.gmo
*.lo
.libs
*.la
data/blueman.desktop
data/blueman-manager.desktop
*.pyc
compile
*.o
*.gschema.valid
