# aclocal
/aclocal.m4
/autom4te.cache

# autoheader
/config.h.in

# libtoolize
/ltmain.sh
/m4

# gettext
/config.rpath
/ABOUT-NLS
/po/config.rpath
/po/Makefile.in.in
/po/Makefile.in
/po/Makefile
/po/Makevars.template
/po/quot.sed
/po/remove-potcdate.sin
/po/Rules-quot
/po/blueman.pot
/po/boldquot.sed
/po/*.header
/po/stamp-po
/po/insert-header.sin

# automake
Makefile.in
/compile
/config.guess
/config.sub
/depcomp
/install-sh
/missing
/py-compile

# autoconf
/configure

# ./configure
Makefile
/config.h
/config.log
/config.status
/libtool
/stamp-h1
/apps/blueman-adapters
/apps/blueman-applet
/apps/blueman-manager
/apps/blueman-mechanism
/apps/blueman-rfcomm-watcher
/apps/blueman-sendto
/apps/blueman-services
/apps/blueman-tray
/blueman/Constants.py
/data/configs/blueman-applet.service
/data/configs/blueman-mechanism.service
/data/configs/org.blueman.Applet.service
/data/configs/org.blueman.Mechanism.service
/module/.deps
/po/POTFILES
/po/stamp-it

# make
/data/blueman-adapters.desktop
/data/blueman-manager.desktop
/data/blueman.desktop
/data/thunar-sendto-blueman.desktop
/data/org.blueman.gschema.valid
/data/configs/org.blueman.policy
/module/.libs
/module/_blueman.c
/module/_blueman.la
/module/_blueman_la-*.lo
/module/_blueman_la-*.o
/po/*.gmo

# Local execution
/blueman/**/*.pyc

# meson build files
/build*/

# mypy
/.mypy_cache/
