on: pull_request

jobs:
  releasebuild:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5
      - run: sudo apt-get update
      - run: sudo apt-get install -y -qq --no-install-recommends automake autoconf libtool autopoint gettext cython3 libglib2.0-dev python3-dev python-gi-dev libbluetooth-dev
      - run: CYTHONEXEC=cython3 ./autogen.sh
      - run: make
      - run: CYTHONEXEC=cython3 make distcheck
      - run: sudo make install

  mesonbuild:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: sudo apt-get update
      - run: sudo apt-get install -y -qq --no-install-recommends meson gettext cython3 libglib2.0-dev python3-dev python-gi-dev libbluetooth-dev
      - run: meson --warnlevel 3 --buildtype debug -Druntime_deps_check=false builddebug
      - run: ninja -v -C builddebug/

  flake8:
    strategy:
      fail-fast: false
      matrix:
        python:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14-rc"
    runs-on: ubuntu-latest
    container:
      image: python:${{ matrix.python }}
    steps:
      - uses: actions/checkout@v5
      - run: python3 -m pip install --user flake8
      - run: python3 -m flake8

  mypy:
    strategy:
      fail-fast: false
      matrix:
        python:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14-rc"
    runs-on: ubuntu-22.04
    container:
      image: python:${{ matrix.python }}
    steps:
      - uses: actions/checkout@v5
      - run: apt-get update
      - run: apt-get install -y -qq --no-install-recommends automake autoconf libtool autopoint gettext libglib2.0-dev python-gi-dev libbluetooth-dev iproute2
      - run: python3 -m pip install cython mypy pycairo>=1.22.0
      - run: ./autogen.sh
      - run: python3 -m mypy -p blueman --strict
        env:
          MYPYPATH: ${{ github.workspace }}/stubs

  test:
    strategy:
      fail-fast: false
      matrix:
        python:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14-rc"
    runs-on: ubuntu-22.04
    container:
      image: python:${{ matrix.python }}
    steps:
      - uses: actions/checkout@v5
      - run: apt-get update
      - run: apt-get install -y -qq --no-install-recommends automake autoconf libtool autopoint gettext libglib2.0-dev python-gi-dev libbluetooth-dev iproute2 libgirepository1.0-dev gir1.2-gtk-3.0 gir1.2-nm-1.0 libpulse0 libpulse-mainloop-glib0 libdbus-1-dev
      - run: python3 -m pip install cython pygobject==3.50 python-dbusmock dbus-python
      - run: ./autogen.sh
      - run: make -C module
      - run: touch /dev/rfkill
      - run: PYTHONPATH=module/.libs python3 -m unittest
