name: potfile

on:
  push:
    branches:
      - main

jobs:
  update-pot:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - run: sudo apt-get update
      - run: sudo apt-get install -y -qq --no-install-recommends autopoint gettext cython3 libglib2.0-dev python-gi-dev libbluetooth-dev
      - run: CYTHONEXEC=cython3 ./autogen.sh
      - run: make -C po blueman.pot-update
      - uses: peter-evans/create-pull-request@v8
        with:
          commit-message: Update blumean.pot
          branch: potfile
          delete-branch: true
          title: Update blueman.pot
          body:
